@import "tailwindcss";

/* Opções base para estrutura da ladingPage */

* {
    box-sizing: border-box;
}

@theme {
    --color-cream: #FAF3E0;
    --color-lightCream: #FFF8E1;
    --color-darkText: #3A3A3A;
    --color-darkCream: #2C2C2C;
    --color-lightText: #B0A99F;
    --color-cobaltBlue: #0047AB;
    --color-darkBlue: #005470;
    --color-turquoise: #008CBA;
    --color-redCream: #C0392B;
    --color-darkRedCream: #800000;

    /* Cores para os Tickets */
    --color-ticketBlue: #DEE9ED;

    --font-heading: Playfair Display, serif;
    --font-body: Open Sans, sans-serif;
    --font-detail: Satisfy, cursive;
    /* --font-detail: Caveat Brush, cursive ; */
    --font-codePro: Source Code Pro, monospace;
    --font-anton: Anton, sans-serif;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 64px;
    margin: 0 auto;
    max-width: 1200px;    
    background: var(--color-cream);
  }

body{
    font-family: var(--font-body) ;
    margin: 0px;
    color: var(--color-darkText);
}

section{
    padding: 1.25rem;
    background: var(--color-cream);
    min-height: calc(100vh - 64px);
}

#app{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.AppBody{
    overflow: hidden;
    flex: 1;
}

.title{
    font-family: var(--font-heading);
    letter-spacing: 2px;
    font-size: 24px;
}

.handwritten-title {
    font-family: var(--font-heading);
    letter-spacing: 1px;
    color: var(--color-darkText);
}

.handwritten-text {
    font-family: var(--font-body);
    color: var(--color-darkText);
  }

.featuredText{
    font-family: var(--font-heading);
    font-size: 48px;
    line-height: 58px;
    letter-spacing: .5px;
}

.detail{
    color: var(--color-turquoise);
    text-shadow: 5px 10px 0px var(--color-cream);
}

.text-body{
    font-family: var(--font-body);
    color: var(--color-darkCream);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 1.4px;
}

@media(min-width: 768px) {
    .text-body{
        font-size: 16px;
        line-height: 28px;
    }
}

@media(min-width: 1024px) {
    .text-body{
        font-size: 18px;
        line-height: 36px;
    }
}

@media(min-width: 1200px) {
    .text-body{
        font-size: 16px;
        line-height: 24px;
    }
}

@media (min-width: 1280px) {
    .text-body{
        font-size: 18px;
        line-height: 32px;
    }
}


/* Animação */

.animeLeft{
    opacity: 0;
    transform: translateX(-20px);
    animation: animeLeft .3s forwards;
}

@keyframes animeLeft{
    to{
        opacity: 1;
        transform: initial;
    }
}

.animeRight{
    opacity: 0;
    transform: translateX(20px);
    animation: animeRight .3s forwards;
}

@keyframes animeRight{
    to{
        opacity: 1;
        transform: initial;
    }
}

.animeCenter{
    opacity: 0;
    transform: scale(0);
    transform-origin: center;
    animation: animeCenter .3s forwards;
}

@keyframes animeCenter{
    to{
        opacity: 1;    
        transform: scale(1);
    }
}
